USE [SAP_PRIORITY_SMB]
GO
/****** Object:  StoredProcedure [dbo].[cgen_usp_GENERATE_UPDATE_PROC]    Script Date: 7/11/2014 10:37:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[cgen_usp_GENERATE_UPDATE_PROC] 
@DBName sysname,
@sTableName sysname,
@sKeyColumns varchar(3000) = NULL
AS 
	DECLARE @sProcText varchar(8000), 
	@sKeyFields varchar(2000), 
	@sSetClause varchar(2000),
	@sCreationDate varchar(120), 
	@sWhereClause varchar(2000), 
	@sColumnName varchar(128),
	@nColumnID smallint, 
	@bPrimaryKeyColumn bit, 
	@nAlternateType int, 
	@nColumnLength int, 
	@nColumnPrecision int, 
	@nColumnScale int, 
	@IsNullable bit, 
	@IsIdentity int, 
	@sTypeName varchar(128), 
	@sDefaultValue varchar(4000), 
	@sCRLF char(2), 
	@sTAB char(1), 
	@sProcName varchar(128),
	@IsKeyColumn int,
	@oResult int,
	@nIsComputed int,
	@sTypeComplement varchar(128)
	

	SET @sTAB = char(9) 
	SET @sCRLF = char(13) + char(10) 
	SET @sProcText = '' 
	SET @sKeyFields = '' 
	SET @sSetClause = '' 
	SET @sWhereClause = ''
	SET @sProcName = '[dbo].usp_UPDATE_' + @sTableName


	SET NOCOUNT ON


	--Check if the table exists
	exec dbo.cgen_usp_TableExist @oResult output, @DBName, @sTableName
	 if (@oResult = 0)  
	 BEGIN
		RAISERROR ('Table  "%s" does not exist in the current catalog "%s"', 10, 1,@sTableName,@DBName) 
		RETURN 2
	 END 


	 --Create table of columns info 
	IF OBJECT_ID('tempdb..#COLUMNS_INFO_TABLE') IS NOT NULL 
		DROP TABLE #COLUMNS_INFO_TABLE
	CREATE TABLE #COLUMNS_INFO_TABLE(sColumnName sysname,nColumnID  int,IsPrimary int,nAlternateType int,nColumnLength int, nColumnPrecision int, 
		                             nColumnScale int,IsNullable int,IsIdentity int,	sTypeName sysname,	sTypeComplement varchar(128), sDefaultValue nvarchar(4000),	nIsComputed int, IsKeyColumn int)
	
	--populate the table of columns info
	exec dbo.cgen_usp_POPULATE_COLUMNS_INFO_TABLE @DBName,@sTableName,@sKeyColumns

	if (NOT EXISTS 	(SELECT * 
				FROM #COLUMNS_INFO_TABLE 
				WHERE IsKeyColumn = 1))
	BEGIN 
		RAISERROR ('Update Procedure cannot be created on a table with no key fields. Make sure the table has primary keys or specify the sKeyColumns parameter to have
		valid columns to be used as keys', 18, 1) 
		RETURN 1
	END 


	SET @sProcText =  dbo.cgen_fn_DropIfExist(@sProcName) + @sCRLF +
					 dbo.cgen_fn_MakeProcComment( 'Update ' + @sTableName + ' (AutoGenerated Script)')
	

	 DECLARE crKeyFields cursor for 
		SELECT
			sColumnName, 
			nColumnID, 
			IsPrimary, 
			nAlternateType, 
			nColumnLength, 
			nColumnPrecision, 
			nColumnScale, 
			IsNullable, 
			IsIdentity, 
			sTypeName,
			sTypeComplement, 
			sDefaultValue,
			nIsComputed,
			IsKeyColumn
		FROM #COLUMNS_INFO_TABLE ORDER BY 2 
		
		OPEN crKeyFields 
		
		FETCH NEXT 
		FROM crKeyFields INTO 
			@sColumnName, 
			@nColumnID, 
			@bPrimaryKeyColumn, 
			@nAlternateType, 
			@nColumnLength, 
			@nColumnPrecision, 
			@nColumnScale, 
			@IsNullable, 
			@IsIdentity, 
			@sTypeName, 
			@sTypeComplement,
			@sDefaultValue,
			@nIsComputed,
			@IsKeyColumn 
		WHILE (@@FETCH_STATUS = 0) BEGIN
   
   
		   --We dont update computed columns or identity columns
			IF ( (@nIsComputed = 0  AND @IsIdentity = 0) OR @IsKeyColumn = 1)
			BEGIN
			   --------------------------   The parameters in sKeyFields -----------------
 				IF (@sKeyFields <> '') 
				SET @sKeyFields = @sKeyFields + ',' + @sCRLF 
  
				SET @sKeyFields = @sKeyFields + @sTAB + '@' + @sColumnName + ' ' + @sTypeName 
   
				 IF (@sTypeComplement is not NULL) 
					SET @sKeyFields = @sKeyFields +  @sTypeComplement 
				
				IF (@IsIdentity = 0) 
				BEGIN 
					IF (@IsNullable = 1) OR (@sTypeName = 'timestamp') 
						SET @sKeyFields = @sKeyFields + ' = NULL' 
				END
			END
				-------------- THE SET CLAUSE ---------------------------------
			IF (@IsKeyColumn = 0 and @nIsComputed = 0 and @IsIdentity = 0) 
			BEGIN 
				IF (@sSetClause = '') 
					SET @sSetClause = 'SET' + @sCRLF + @sTAB + @sColumnName + ' = ' + '@' + @sColumnName 
				ELSE 
					SET @sSetClause = @sSetClause + ',' + @sCRLF + 
									  @sTAB + @sColumnName + ' = ' + '@' + @sColumnName 
			END
			------------- THE WHERE CLAUSE ----------------------------------
			IF (@IsKeyColumn = 1) 
			BEGIN 
					IF (@sWhereClause = '') 
						SET @sWhereClause = @sWhereClause + 'WHERE ' + @sCRLF 
					ELSE 
						SET @sWhereClause = @sWhereClause + ' AND ' 
					SET @sWhereClause = @sWhereClause + @sTAB + @sColumnName + ' = @' + @sColumnName + @sCRLF 
			END 
			


			FETCH NEXT FROM crKeyFields 
			INTO 
				@sColumnName, 
				@nColumnID, 
				@bPrimaryKeyColumn, 
				@nAlternateType, 
				@nColumnLength, 
				@nColumnPrecision, 
				@nColumnScale, 
				@IsNullable, 
				@IsIdentity, 
				@sTypeName, 
				@sTypeComplement,
				@sDefaultValue,
				@nIsComputed,
				@IsKeyColumn
	   END
	   CLOSE crKeyFields 
	   DEALLOCATE crKeyFields

	   SET @sProcText = @sProcText + 
						'CREATE PROCEDURE ' + @sProcName +  @sCRLF +
						@sKeyFields + @sCRLF + 'AS' + @sCRLF +
						'UPDATE ' +  @sTableName + @sCRLF +
						@sSetClause + @sCRLF +
						@sWhereClause +  @sCRLF +
						'GO' +  @sCRLF +
						dbo.cgen_fn_Grant_Permissions(@sProcName) +
						'GO'


					 
   PRINT @sProcText
	

GO
