USE [SAP_PRIORITY_SMB]
GO
/****** Object:  StoredProcedure [dbo].[cgen_usp_GENERATE_INSERT_PROC]    Script Date: 7/11/2014 10:37:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[cgen_usp_GENERATE_INSERT_PROC] 
@DBName varchar(128),
@sTableName varchar(128),
@sKeyColumns varchar(128) = null
AS 

	DECLARE @sProcText varchar(8000), 
	@oResult int,
	@sKeyFields varchar(2000), 
	@sSetClause varchar(2000),
	@sValueClause varchar (2000),
	@sCreationDate varchar(120), 
	@sWhereClause varchar(2000), 
	@sColumnName varchar(128),
	@nColumnID smallint, 
	@bPrimaryKeyColumn bit, 
	@nAlternateType int, 
	@nColumnLength int, 
	@nColumnPrecision int, 
	@nColumnScale int, 
	@IsNullable bit, 
	@IsIdentity int, 
	@sTypeName varchar(128), 
	@sTypeComplement varchar(128),
	@sDefaultValue varchar(4000), 
	@sCRLF char(2), 
	@sTAB char(1), 
	@sProcName varchar(128),
	@nIsComputed int,
	@IsKeyColumn int
	


	SET @sTAB = char(9) 
	SET @sCRLF = char(10) 
	SET @sProcText = '' 
	SET @sKeyFields = '' 
	SET @sSetClause = '' 
	SET @sWhereClause = ''
	SET @sValueClause = ''
	SET @sProcName = '[dbo].usp_CREATE_'  + @sTableName

	 SET NOCOUNT ON
	 exec dbo.cgen_usp_TableExist @oResult output, @DBName, @sTableName
	 if (@oResult = 0)  
	 BEGIN
		
		SET @DBName = db_name()
		RAISERROR ('Table  "%s" does not exist in the current catalog "%s"', 10, 1,@sTableName,@DBName) 
		RETURN 2
	 END 

	IF OBJECT_ID('tempdb..#COLUMNS_INFO_TABLE') IS NOT NULL 
		DROP TABLE #COLUMNS_INFO_TABLE
	CREATE TABLE #COLUMNS_INFO_TABLE(sColumnName sysname,nColumnID  int,IsPrimary int,nAlternateType int,nColumnLength int, nColumnPrecision int, 
		                             nColumnScale int,IsNullable int,IsIdentity int,	sTypeName sysname,	sTypeComplement varchar(128), sDefaultValue nvarchar(4000),	nIsComputed int, IsKeyColumn int)
	exec dbo.cgen_usp_POPULATE_COLUMNS_INFO_TABLE @DBName,@sTableName

	

	SET @sProcText = dbo.cgen_fn_DropIfExist(@sProcName) + @sCRLF +
					 dbo.cgen_fn_MakeProcComment( 'Create  Record in table ' + @sTableName + ' (AutoGenerated Script)') + @sCRLF
	
	


	 DECLARE crKeyFields cursor for 
		SELECT 
			sColumnName, 
			nColumnID, 
			IsPrimary, 
			nAlternateType, 
			nColumnLength, 
			nColumnPrecision, 
			nColumnScale, 
			IsNullable, 
			IsIdentity, 
			sTypeName, 
			sTypeComplement,
			sDefaultValue,
			nIsComputed,
			IsKeyColumn  
		FROM #COLUMNS_INFO_TABLE ORDER BY 2 
		
		OPEN crKeyFields 
		
		FETCH NEXT 
		FROM crKeyFields INTO 
			@sColumnName, 
			@nColumnID, 
			@bPrimaryKeyColumn, 
			@nAlternateType, 
			@nColumnLength, 
			@nColumnPrecision, 
			@nColumnScale, 
			@IsNullable, 
			@IsIdentity, 
			@sTypeName, 
			@sTypeComplement,
			@sDefaultValue,
			@nIsComputed,
			@IsKeyColumn 
		WHILE (@@FETCH_STATUS = 0) BEGIN

   IF @nIsComputed = 0 and @IsIdentity = 0
	BEGIN
	   --------------------------   The parameters of the insert store proc -----------------
   
	   IF (@sKeyFields <> '') 
		SET @sKeyFields = @sKeyFields + ',' + @sCRLF 
  
	   SET @sKeyFields = @sKeyFields + @sTAB + '@' + @sColumnName + ' ' + @sTypeName 
   
	   IF (@sTypeComplement is not NULL) 
		  SET @sKeyFields = @sKeyFields +  @sTypeComplement 

		IF (@IsIdentity = 0) 
		BEGIN 
			IF (@IsNullable = 1) OR (@sTypeName = 'timestamp') 
				SET @sKeyFields = @sKeyFields + ' = NULL' 
		END
	
		-------------- THE Columns to INSERT ---------------------------------
		IF (@sSetClause = '') 
				SET @sSetClause =  @sCRLF + @sTAB + @sColumnName
		ELSE 
				SET @sSetClause =   @sSetClause + ',' + @sCRLF + @sTAB + @sColumnName 
	
	
		-------------- THE Values list made by parameters ---------------------------------
		IF (@sValueClause = '') 
				SET @sValueClause =  @sCRLF + @sTAB + '@' + @sColumnName
		ELSE 
				SET @sValueClause =   @sValueClause + ',' + @sCRLF + @sTAB + '@' + @sColumnName 
	END


	FETCH NEXT FROM crKeyFields 
	INTO 
			@sColumnName, 
			@nColumnID, 
			@bPrimaryKeyColumn, 
			@nAlternateType, 
			@nColumnLength, 
			@nColumnPrecision, 
			@nColumnScale, 
			@IsNullable, 
			@IsIdentity, 
			@sTypeName, 
			@sTypeComplement,
			@sDefaultValue,
			@nIsComputed,
			@IsKeyColumn  
	END
   CLOSE crKeyFields 
   DEALLOCATE crKeyFields

   SET @sProcText = @sProcText + 
					'CREATE PROCEDURE ' + @sProcName +  @sCRLF +
					@sKeyFields + @sCRLF + 'AS' + @sCRLF +
					'INSERT INTO ' +  @sTableName + '(' + @sSetClause +  ')' + @sCRLF +
					'VALUES (' + @sValueClause + ')' + @sCRLF +
					'GO' +  @sCRLF + @sCRLF + 
					'GRANT EXECUTE ON ' + @sProcName + ' TO SVC_EC_COMMON AS [dbo] ' +  @sCRLF +
					'GO'



					 
   PRINT @sProcText
	

GO
